/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	/*max-width: 1140px;*/
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 50px 0px;
    flex-direction: column;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
a{
	text-decoration: none;
	color: black;
}
main{
    width: 80%;
    margin: auto;
}

#modif-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: black;
    color: white;
}
#modif-bar-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modif-bar{
    margin: 0px 10px;
}
.icon-edit{
	font-size: 16px;
}
#icon-edit-1{
    color: white;
    background-color: black;
}
#icon-edit-2{
        color: black;
		margin-right: 5px;
}
#icon-edit-3{
	margin-bottom: 25px;
}

#changements{
    padding: 12px 20px;
    border-color: white;
    border-radius: 60px;
    background-color: white;
    color: black;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 7%;
}
/*#insta-logo{
    size: 5px;
}*/
#modif-portrait{
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    margin: auto;
}
#amodif{
align-self: flex-end;
margin-left: 10px;
margin-bottom: 25px;
}
#mes-projets{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 75px;
}
#projets-modif{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: auto;

}

.filtres>*{
	display: none;
}
#login-section{
	height: 100%;
}
#Login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.form-login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}
.label{
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.champ-texte{
	width: 379px;
	height: 51px;
	background-color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0px;
	margin-top: 5px;
	margin-bottom: 13px;
}
#submit{
	display: flex;
	justify-content: center;
	color: white;
	background-color: #1D6154;
	margin-top: 20px;
	width: 179px;
	height: 36px;
	border: 0px;
}
 #footer-accueil{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height:360px; 
}
#mdp-oublie{
	color: black;
	padding-top: 30px;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.filtres{
display: flex;
align-items: center;
justify-content: center;
padding: 10px 0px 75px 0px;

}
.btn-filter:active {
	background-color: #1D6154;
	color: white;
}
div > button {
	display: flex;
    width: auto;
    height: 20px;
    margin: 0 5px;
    padding: 14px 13px 12px 13px;
    background-color: white;
    border-radius: 15px;
    border-width: 0.1em;
    border-color: #1D6154;
    color: #1D6154;
	font-family: 'Syne';
    align-items: center;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



.modal-content{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    justify-content: center;
    align-items: center;
	overflow: auto; /* Activez le défilement si la hauteur de la modal est supérieure à l'écran */
	background-color: rgba(0, 0, 0, 0.4);
}
#modal_galerie{
    display: flex;
	width: 630px;
	height: 730px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 15% auto;
	border-radius: 10px;
	background-color: #fffef8;
}
.close {
	display: flex;
	justify-content: flex-end;
	width: 90%;
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-top: 30px;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
#modaltitle{
	display: flex;
    justify-content: center;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    color: black;
}
.gallery2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 45px 14%;
}
.imgs2{
	display: flex;
	flex-direction: column;
	width: 78px;	
	height: 130px;
	margin: 2px;
}
#bottom_modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.bordure{
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 25px;
}
#addphoto{
    display: flex;
    justify-content: center;
	justify-content: center;
	color: white;
	background-color: #1D6154;
	margin: 8px;
	width: 237px;
	height: 36px;
	border: 0px;
    border-radius: 60px;
}
#supp_galerie{
    size: 14px;
    color:#D65353;
    margin-top: 15px;

}
