html, body{
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;

}
.modal-content{
    display: flex;
	width: 100%;
	height: 100%;
    justify-content: center;
    align-items: center;
	overflow: auto; /* Activez le défilement si la hauteur de la modal est supérieure à l'écran */
	background-color: #fffef8;
}
.modal-galerie{
    display: flex;
	width: 630px;
	height: 730px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 12%;
}
h1{
	display: flex;
    justify-content: center;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color: black;
}
img{
    width: 79px;
    height: 104px;
    padding: 15px 2px 0px 0px;
}
.bordure{
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 50px;
    margin-top: 45px;
}
#addphoto{
    display: flex;
    justify-content: center;
	justify-content: center;
	color: white;
	background-color: #1D6154;
	margin-top: 8px;
	width: 237px;
	height: 36px;
	border: 0px;
    border-radius: 60px;
}
#supp_galerie{
    size: 14px;
    color:#D65353;
    margin-top: 25px;
}